<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726153958494-qn1msvuvjt6nr3rrqtdfqs9uq0g8r2hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726153958494-qn1msvuvjt6nr3rrqtdfqs9uq0g8r2hp</string>
	<key>API_KEY</key>
	<string>AIzaSyDRWx3IUb9r2gNuFJR5VoVYbnt8qxl1J_o</string>
	<key>GCM_SENDER_ID</key>
	<string>726153958494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpiannucci.BuoyFinder</string>
	<key>PROJECT_ID</key>
	<string>buoyfinder-settings</string>
	<key>STORAGE_BUCKET</key>
	<string>buoyfinder-settings.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:726153958494:ios:c695c8b5990f07e3</string>
	<key>DATABASE_URL</key>
	<string>https://buoyfinder-settings.firebaseio.com</string>
</dict>
</plist>