<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuoyFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BuoyFinderDataKit-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BuoyFinderTodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BuoyFinderWatch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>BuoyFinderWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>345FEF561ECB3F9F002D970B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34B4975C1DEBC7080076EB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E5626E1DECD29D006F1C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E562761DECD29D006F1C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E562911DECD479006F1C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E562991DECD479006F1C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E562B41DECD683006F1C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E562BC1DECD683006F1C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E5E0041ED0DEA800560E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
